[submodule "scientific_intelligent_modelling/algorithms/dso_wrapper/dso"]
	path = scientific_intelligent_modelling/algorithms/dso_wrapper/dso
	url = git@gitee.com:ziwenhahaha/deep-symbolic-optimization.git
[submodule "scientific_intelligent_modelling/algorithms/tpsr_wrapper/tpsr"]
	path = scientific_intelligent_modelling/algorithms/tpsr_wrapper/tpsr
	url = git@gitee.com:ziwenhahaha/TPSR.git
[submodule "scientific_intelligent_modelling/algorithms/e2esr_wrapper/e2esr"]
	path = scientific_intelligent_modelling/algorithms/e2esr_wrapper/e2esr
	url = git@gitee.com:ziwenhahaha/e2e-symbolic-regression.git
[submodule "scientific_intelligent_modelling/algorithms/drsr_wrapper/drsr"]
	path = scientific_intelligent_modelling/algorithms/drsr_wrapper/drsr
	url = git@gitee.com:ziwenhahaha/drsr.git
[submodule "scientific_intelligent_modelling/algorithms/llmsr_wrapper/llmsr"]
	path = scientific_intelligent_modelling/algorithms/llmsr_wrapper/llmsr
	url = git@gitee.com:ziwenhahaha/llm-sr
[submodule "scientific_intelligent_modelling/algorithms/iMCTS_wrapper/MCTS-4-SR"]
	path = scientific_intelligent_modelling/algorithms/iMCTS_wrapper/MCTS-4-SR
	url = git@gitee.com:ziwenhahaha/MCTS-4-SR
