build/
scientific_intelligent_modelling.egg-info/
sim_toolkit.egg-info/
__pycache__/
*.pyc
.git
outputs/
key.txt
model.pt
*.pt
dist/
.env/*.env
.env
experiments/
wandb
.sim_datasets/
sim-datasets-data/
tmp/
artifacts/
exp-planning/02.E1选择验证/llm_configs/benchmark_llm.config
